<!doctype html>
<html>

<head>
    <title>Sonya's Individual Post</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <h1> Sonya's Individual Post</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>
        <a href="/homePage">HomePage</a>

        <div class="row">

            <!-- LOCAL INFORMATION -->
            <!-- <div class="col-sm-6">
                <div class="well"> 
                    this could be turned into a comment section form for the post itself. Idk if that's too much
                    <h3><span class="fa fa-user"></span> Local</h3>

                    <% if (user.local.email) { %>
                        <p>
                            <strong>id</strong>: <%= user._id %><br>
                                <strong>email</strong>: <%= user.local.email %><br>
                                    <strong>password</strong>: <%= user.local.password %>
                        </p>

                        <a href="/unlink/local" class="btn btn-default">Unlink</a>
                        <% } else { %>
                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                            <% } %>

                </div>
            </div> -->
            <!-- <div class="user-avatar">
                <% if(user.local.img !=="" ){ %>
                    <img src="<%=user.local.img %>" style="width:200px" class="profileImg">
                    <% } else { %>
                        <img src="/img/main.png" style="width: 200px" class="profileImg">
                        <% } %>
            </div>
            <form action="/imageUpload" method="POST" enctype="multipart/form-data">
                <div class="uploadImg">
                    <input type="file" id="image" name="file-to-upload" value="" class="profilePic" required>
                </div>
                <button type="submit" class="buttons btn-sm">UPLOAD</button>
            </form> -->


            <!-- I will leave this up to the front end team to styyyyle -->
            <div class="col-sm-6">
                <h3>Messages</h3>
                <ul class="messages">
                   
                        <li class="message">
                            <span>
                                <%= sonyasPostings.name %>
                            </span>
                            <span>
                                <%= sonyasPostings.title %>
                            </span>
                            <span>
                                <%= sonyasPostings.msg %>
                            </span>
                            <span>
                                <%= sonyasPostings.description %>
                            </span>
                            <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                            <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                            <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </li>
                        
                    
                </ul>

            <div >
                <div>
                    <label> comment </label>
                    <section >
                        <%# for (let i=0; i < comments.length; i++) {%>
                            <div class="individualComment">
                                <h4>
                                    <%# = comments[i].comment %>
                                </h4>
                                <p><a href="/otherUserProfile/<%# = comments[i].postedById %>">
                                        <%# = comments[i].postedBy %>
                                    </a></p>
                            </div>
                            <%# } %>
                    </section>
                </div>
            
                <div>
                    <label for="">comment</label>
                    <% if (user.local.email) { %>
                        <form action="/makeCommentSonyaPost/<%=sonyasPostings._id %>" method="POST">
                            <input type="hidden" name="userEmail" placeholder="user" value="<%=user.local.email %>">
                            <input type="text" name="comment" placeholder="comment">
                            <button class="btn" type="submit">Submit</button>
                        </form>
                        <% } %>
                </div>

            </div>

            <script src="main.js"></script>

</body>

</html>